*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  font-family: "Outfit", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --primary1: hsl(14, 45%, 36%);
  --primary2: hsl(332, 51%, 32%);
  --white: hsl(0, 0%, 100%);
  --rose-white: hsl(330, 100%, 98%);
  --eggshell: hsl(30, 54%, 90%);
  --grey: hsl(30, 18%, 87%);
  --brown: hsl(30, 10%, 34%);
  --charcoal: hsl(24, 5%, 18%);
  color: var(--brown);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



